.highcharts-credits {
    display: none!important;
}

body {
    background-color: #172747;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 50px);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.highcharts-background {
    fill: #172747;
}

.regions-name span , .city-name span {
    text-align: center;
    text-transform: uppercase;
}

.areas-name span {
    opacity: 0;
}

.regions-name .data-img-wrap, .city-name .data-img-wrap {
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

.regions-name .data-img {
    width: 16px;
}

.city-name .data-img {
    width: 10px;
}

.map-container {
    display: flex;
    align-items: center;
    max-width: 1366px;
    width: 100%;
}

#container {
    width: 100%;
}

.map-data-stat {
    display: block;
    padding-top: 25px;
}